<footer>
    <p><img class="hncityIcons" src="{{ site.url }}/assets/globe.svg" type="image/svg+xml" width="20px"> 한국어 | <a href="//{{ site.url }}/en{{page.url}}" class="bx--link bx--link--lg">English</a></p>
    <p>&copy; 2015 - 2021 HaneulCity Authors.</p>
    <p>Minecraft와 그 로그는 Mojang 사가 소유한 상표 혹은 브랜드입니다. HaneulCity Project는 Mojang과 어떠한 관련도 없습니다.</p>
    <p>이전 웹사이트는 TEMPLATED 혹은 WordPress를 이용하여 제작되었으며 종이상자가 일부 수정하였습니다.</p>
    <p>본 웹사이트는 <a href="https://skylight.paperbox.moe" target="_blank" class="bx--link bx--link--lg">하늘빛 테마</a>의 0.9 beta 판을 이용하여 제작되었습니다.</p>
    <p><a href="./osl">오픈소스 라이선스</a></p>
    <p>본 웹사이트에서 제공하는 광고는 웹사이트 및 운영 서버 자금으로 사용됩니다. 관련 사항은 새로운 소식 탭에 올라오는 월 결산에서 확인하실 수 있습니다.</p>
</footer>